
/* 
---------------------------------------------
font
--------------------------------------------- 
*/
@import url("https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900");
/* 
---------------------------------------------
reset
--------------------------------------------- 
*/

.content-boxdark {
  background: #d2e4f6;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.20);
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 768px;
  overflow: hidden;
  text-align: left;
  padding: 0;
  box-sizing: border-box;
}

.content-box {
  background: #e2eef9;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.20);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  max-width: 768px;
  overflow: hidden;
  text-align: left;
  padding: 0;
  box-sizing: border-box;
}

.content-box img,
.content-boxdark img {
  object-fit: cover;
  height: 75px auto;
  padding-right: 10px;
  padding-left: 10px;
  max-width: 250px;
}

.content-text {
  flex: 1;
  padding: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-text tile {
  display: block;
  font-weight: 600;
  font-size: 14px;
  color: #1e1e1e;
  letter-spacing: 0.25px;
  margin-bottom: 6px;
}

a {
  text-decoration: none !important;
}
 
---------------------------------------------
Content boxes
--------------------------------------------- 


.content-section-heading h2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.content-box:hover {
  transform: scale(1.1); 
  transition: all 0.3s ease 0s;
  z-index: 1;
}

.content-boxdark:hover {
  transform: scale(1.1);
  transition: all 0.3s ease 0s; 
  z-index: 1;
}

.content-onenote, .content-word, .content-outlook, .content-teams, .content-onedrive, .content-word, .content-excel {
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.20);
  transition: all 0.3s ease 0s;
  text-align: center;
  width: 320px;
  height: 90px;
  padding: 20px;
  margin-top: 4px;
  display: inline-block;
}

.content-onenote tile, .content-word tile, .content-outlook tile, .content-teams tile, .content-onedrive tile, .content-word tile, .content-excel tile{
  display: block;
  font-weight: 700;
  font-size: 14px;
  color: #1e1e1e;
  letter-spacing: 0.25px;
}

.content-onenote img, .content-word img, .content-outlook img, .content-teams img, .content-onedrive img, .content-word img, .content-excel img{
  height: 64px;
  width: auto;
}

.content-onenote{
  background-color: #bd90d6;
}

.content-onenote:hover {
  transform: scale(1.1); 
  z-index: 1;
}
	
.content-outlook {
  background-color: #84beea;
}
.content-outlook:hover {
  transform: scale(1.1); 
  z-index: 1;
}

.content-teams {
  background-color: #a8acdf;
}
.content-teams:hover {
  transform: scale(1.1); 
  z-index: 1;
}

.content-onedrive {
  background-color: #97d5f4;
}

.content-onedrive:hover {
  transform: scale(1.1); 
  z-index: 1;
}


.content-word {
  background-color: #749CD7;
}
.content-word:hover {
  transform: scale(1.1); 
  z-index: 1;
}


.content-excel {
  background-color: #7BB8BA;
}
.content-excel:hover {
  transform: scale(1.1); 
  z-index: 1;
}


/* media scaling */
@media screen and (max-width: 768px) {
  body {
    background-color: #313D6D;
    font-family: "Raleway";
    padding-bottom: 50px;
    margin:0;
    padding: 0;
    padding: 0;
    border: 0;
    width: 100%;
  }

  .content-box, .content-boxdark{
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .content-excel, .content-word, .content-onedrive, .content-onenote, .content-outlook, .content-teams {
    width: 99%;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
  }

  .header {
    background-color: #e2eef9;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .header img {
    width: 100%; 	
    object-fit: contain;
  }

  .header2 {
    background-color: rgba(226,238,249,0.5);
    padding-top: 15px;
    padding-bottom: 20px;	
    width: 100%; 	
    margin: auto;
  }

  .content-section {
    z-index: 3;
    text-align: center;
    color: #fff;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    width: 100%;
  }

  .content-section-office {
    margin-bottom: 4px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto); /* or fixed/flexible values */
    place-items: center;
  }

  body {
    width: 100%;
  }
}

/* Styles for screens wider than 768px (e.g., desktops, tablets) */
@media screen and (min-width: 769px) {
  body {
    background-color: #313D6D;
    font-family: "Raleway";
    padding-bottom: 50px;
    margin:0;
    padding: 0;
    padding: 0;
    border: 0;
    text-align: center;
  }

  .content-box, .content-boxdark  {
    width: 30%;
    height: 160px;
    padding: 30px;
    display: inline-block;
    overflow: hidden;
    text-align: center;
  }

  .content-box img,
  .content-boxdark img {
    width: 100% auto;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
    max-width: auto;
  }

  .header {
    background-color: #e2eef9;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 1200px; 	
    margin: auto;
  }
  .header2 {
    background-color: rgba(226,238,249,0.5);
    padding-top: 15px;
    padding-bottom: 20px;	
    width: 1200px; 	
    margin: auto;
  }

  .background {
    background-color: #e2eef9;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 1200px; 	
    margin: auto;
  }

  .img-center { 
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .content-section {
    position: center;
    z-index: 3;
    width: 1200px; 
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
  }

  .content-section-office {
    margin-bottom: 4px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .content-text {
    padding: 10px 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
